# Build output
bin/
build/
dist/

# Executable files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test / coverage
*.test
*.out
coverage.out

.gocache

# Environment files
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log